<div class="welcome-content">
    <h3>{{localize "isometric-perspective.welcome.title"}}</h3>
    <div class="welcome-text">
        <p>{{localize "isometric-perspective.welcome.subtitle"}}</p>
        
        <table class="features-table">
            <tr class="feature-header">
                <td class="icon-cell"><i class="fas fa-cube"></i></td>
                <td class="title-cell"><strong>{{localize "isometric-perspective.welcome.feature_table_projections.header"}}</strong></td>
            </tr>
            <tr></tr>
            <tr class="feature-content">
                <td></td>
                <td>{{localize "isometric-perspective.welcome.feature_table_projections.content"}}</td>
            </tr>
            
            <tr class="feature-header">
                <td class="icon-cell"><i class="fas fa-chess-pawn"></i></td>
                <td class="title-cell"><strong>{{localize "isometric-perspective.welcome.feature_table_tokens.header"}}</strong></td>
            </tr>
            <tr></tr>
            <tr class="feature-content">
                <td></td>
                <td>{{localize "isometric-perspective.welcome.feature_table_tokens.content"}}</td>
            </tr>
            
            <tr class="feature-header">
                <td class="icon-cell"><i class="fas fa-layer-group"></i></td>
                <td class="title-cell"><strong>{{localize "isometric-perspective.welcome.feature_table_dynamic_tiles.header"}}</strong></td>
            </tr>
            <tr></tr>
            <tr class="feature-content">
                <td></td>
                <td>{{localize "isometric-perspective.welcome.feature_table_dynamic_tiles.content"}}</td>
            </tr>
        </table>

        <p class="support-text">{{localize "isometric-perspective.welcome.support_text_visit"}} <a href="https://github.com/arlosmolten/isometric-perspective/wiki" target="_blank"><i class="fas fa-book"></i> {{localize "isometric-perspective.welcome.support_text_wiki"}}</a> {{localize "isometric-perspective.welcome.support_text_on_github"}}</p>
        <p class="support-text">{{localize "isometric-perspective.welcome.support_text_help"}}</p>

        <div class="welcome-links">
            <a href="https://github.com/arlosmolten/isometric-perspective" target="_blank">
                <i class="fab fa-github"></i> GitHub
            </a>
            <a href="https://discord.gg/64p6ZqQBNX" target="_blank">
                <i class="fab fa-discord"></i> Discord
            </a>
            <a href="https://ko-fi.com/H2H1160UID" target="_blank">
                <i class="fas fa-mug-hot"></i> Ko-fi
            </a>
        </div>
    </div>
</div>